@{
    ViewData["Title"] = "Đặt lại xác nhận mật khẩu";
}


<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Mật khẩu của bạn đã được thiết lập lại. Xin vui lòng <a asp-action="Login">nhấn vào đây để đăng nhập</a>.</h3>
        </div>
    </div>
</div>