@model AMS.Models.NhapThanhPhamViewModel.NhapThanhPhamCRUDViewModel
<div cite="view-detail-NhapThanhPham">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Ngày tạo</th>
                    <td>@Model.CreatedDate</td>
                </tr>
                <tr>
                    <th>Ngày cập nhật</th>
                    <td>@Model.ModifiedDate</td>
                </tr>
                <tr>
                    <th>Người tạo</th>
                    <td>@Model.CreatedBy</td>
                </tr>
                <tr>
                    <th>Người cập nhật</th>
                    <td>@Model.ModifiedBy</td>
                </tr>
            </table>
        </div>
    </div>
</div>
